span {
    @media (max-width: 767px) {
        min-width: initial;
        text-align: initial;
        margin: initial;
    }
}


#menuDesktop {
    @media (max-width: 767px) {
        display: none;
    }
}

#logo {
    @media (max-width: 767px) {
        width: 100%;
    }
}




/*
* Make this absolute positioned
* at the top left of the screen
*/
#mobileMenu {
    display: flex;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

section.background {
    @media (max-width: 767px) {
        padding: 80px;
    }
}

#mobileMenu .background {
    @media (max-width: 767px) {
        position: fixed;
    }
}

#mobileMenu .menu-item {
    @media (max-width: 767px) {
        z-index: 999;
        font-size: 2em;
    }
}
